@import "tailwindcss";

:root{
    --primary:rgb(34, 40, 49);
    --cards:#393E46;
    --hover:#948979;
    --text:#ffffff;
}

/* for navbar active */
.NavActive{
    background-color: var(--cards);
    border-radius: 50px;
    color: white;
    transition:all 0.5s ease-in;
}


body{
    background-color: var(--primary);
    color: var(--text);
    padding-top: 70px;
}
html{
    scrollbar-width: thin;
}

/* ishome */

.maincontent{
    display: flex;
    box-sizing: border-box;
    /* justify-content: space-between; */
    align-items: flex-start;
    gap: 1.5rem;
    padding: 1rem;
}
/* cardetails */

.fill{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 5px;
    background: gray;
    border-radius: 10px;
    overflow: hidden;
}
.fill_inside{
    position: absolute;
    border-radius: 10px;
    z-index: 1999;
    height: 100%;
    transition: width 0.3s ease;
}
